<div class="container" ng-controller="about">
	<div class="row">
		<div class="clearfix about-inner">
			<div class="col-sm-12 col-md-4">
				<div class="person-about">
					<h3 class="about-subtitle">My Story</h3>
					<p>Hello, I’m a Javascript &amp; FullStack Developer from Ulaanbaatar, Mongolia. 
					I hold a bachelor degree of Computer Science from the Science and Technology University of Mongolia. 
					I have completed on-campus studies and currently taking distance education courses to complete a Master's Degree in Computer Science 
					at Maharishi University of Management School, Fairfield IA, USA
					<br />
						
					</p>
					<a href="/assets/resume/NARMANDAKHTulga.doc" class="waves-effect waves-light btn-large brand-bg white-text"><i class="mdi-content-archive left"></i> Download Resume</a>
				</div>
			</div>
			<!-- about me description -->
			<div class="col-sm-6 col-md-4">
				<div class="person-img wow fadeIn">
					<img class="z-depth-1" src="images/person.png" alt="">
				</div>
			</div>
			<!-- about me image -->
			<div class="col-sm-6 col-md-4">
				<div class="person-info">
					<h3 class="about-subtitle">Personal Information</h3>
					<h5><span>Name :</span> Tulga Narmandakh</h5>
					<h5><span>Age :</span> 26 Years</h5>
					<h5><span>Phone :</span> 641-451-4255</h5>
					<h5><span>Email :</span> tulga.narmandakh@gmail.com</h5>
					<h5><span>Address :</span> 1000 N 4 street, Fairfield IA, USA</h5>
				</div>
				<div class="about-social">
					<ul>
						<li>
							<a href="https://www.linkedin.com/in/tulganar" class="btn-floating waves-effect waves-light white"><i class="fa fa-linkedin"></i></a>
						</li>
						<li>
							<a href="https://bitbucket.org/tulga1970" class="btn-floating waves-effect waves-light white"><i class="fa fa-bitbucket"></i></a>
						</li>
						<li>
							<a href="https://github.com/tulga1970" class="btn-floating waves-effect waves-light white"><i class="fa fa-github"></i></a>
						</li>
						<li>
							<a href="https://twitter.com/tulga1970" class="btn-floating waves-effect waves-light white"><i class="fa fa-twitter"></i></a>
						</li>
						<li>
							<a href="https://plus.google.com/101584217568016964634/posts" class="btn-floating waves-effect waves-light white"><i class="fa fa-google-plus"></i></a>
						</li>
					</ul>
				</div>
			</div>
			<!-- about me info -->
		</div>
	</div>
</div>