<div class="container" ng-controller="blog">
   <div class="row">
      <div class="blog-inner">
         <div class="col-sm-12 card-box-wrap">
            <div class="row">
               <div class="clearfix section-head blog-text">
                  <div class="col-sm-10">
                     <h2 class="title">Blog</h2>
                     <p class="regular-text">A Web page that serves as a publicly accessible personal journal for an individual. Typically updated daily, blogs often reflect the personality of the author.</p>
                  </div>
               </div>
               <div class="clearfix card-element-wrapper" id="blog-posts">
                  <article class="col-sm-6 col-md-4 single-card-box single-post">
                     <div class="card wow fadeInUpSmall" data-wow-duration=".7s">
                        <div class="card-image">
                           <div class="card-img-wrap">
                              <div class="blog-post-thumb waves-effect waves-block waves-light">
                                 <a href="single.html"><img class="activator" src="http://placehold.it/350x200" alt="">
                                 </a>
                              </div>
                              <div class="post-body">
                                 <a href="single.html" class="post-title-link brand-text">
                                    <h2 class="post-title">Awesome Post Title</h2>
                                 </a>
                                 <p class="post-content">In consectetuer turpis ut velit. Sed lectus. Ut varius tincidunt libero. Vivamus euismod mauris. Vestibulum fringilla pede sit amet augue. Ut varius tincidunt libero. Pellentesque dapibus hendrerit tortor. </p>
                              </div>
                           </div>
                        </div>
                        <div class="clearfix card-content">
                           <a href="#" class="left js-favorite" title="Love this"><i class="mdi-action-favorite"></i><span class="numb">15</span></a>
                           <a href="single.html" class="brand-text right waves-effect">Read More</a>
                        </div>
                     </div>
                  </article>
                  <!-- ./single blog post end -->
                  <article class="col-sm-6 col-md-4  single-card-box single-post">
                     <div class="card wow fadeInUpSmall" data-wow-delay=".2s" data-wow-duration=".7s">
                        <div class="card-image">
                           <div class="card-img-wrap">
                              <div class="blog-post-thumb waves-effect waves-block waves-light">
                                 <a href="single.html"><img class="activator" src="http://placehold.it/350x200" alt="">
                                 </a>
                              </div>
                              <div class="post-body">
                                 <a href="single.html" class="post-title-link brand-text">
                                    <h2 class="post-title">An Image Post</h2>
                                 </a>
                                 <p class="post-content">In consectetuer turpis ut velit. Sed lectus. Ut varius tincidunt libero. Vivamus euismod mauris. Vestibulum fringilla pede sit amet augue. Ut varius tincidunt libero. Pellentesque dapibus hendrerit tortor. </p>
                              </div>
                           </div>
                        </div>
                        <div class="clearfix card-content">
                           <a href="#" class="left js-favorite active" title="Love this"><i class="mdi-action-favorite"></i><span class="numb">23</span></a>
                           <a href="single.html" class="brand-text right waves-effect">Read More</a>
                        </div>
                     </div>
                  </article>
                  <!-- ./single blog post end -->
                  <article class="col-sm-6 col-md-4 single-card-box single-post">
                     <div class="card wow fadeInUpSmall" data-wow-delay=".4s" data-wow-duration=".7s">
                        <div class="card-image">
                           <div class="card-img-wrap">
                              <div class="blog-post-thumb waves-effect waves-block waves-light">
                                 <a href="single.html"><img class="activator" src="http://placehold.it/350x200" alt="">
                                 </a>
                              </div>
                              <div class="post-body">
                                 <a href="single.html" class="post-title-link brand-text">
                                    <h2 class="post-title">Another Image Post</h2>
                                 </a>
                                 <p class="post-content">In consectetuer turpis ut velit. Sed lectus. Ut varius tincidunt libero. Vivamus euismod mauris. Vestibulum fringilla pede sit amet augue. Ut varius tincidunt libero. Pellentesque dapibus hendrerit tortor. </p>
                              </div>
                           </div>
                        </div>
                        <div class="clearfix card-content">
                           <a href="#" class="left js-favorite" title="Love this"><i class="mdi-action-favorite"></i><span class="numb">17</span></a>
                           <a href="single.html" class="brand-text right waves-effect">Read More</a>
                        </div>
                     </div>
                  </article>
                  <!-- ./single blog post end -->
               </div>
               <div class="clearfix left-align">
                  <div class="col-sm-12">
                     <a href="blog.html" class="waves-effect waves-light btn-large load-more">See More</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- ./container -->