<div class="container" ng-controller="footer">
   <div class="row">
      <div class="col-sm-12">
         <div class="clearfix footer-inner">
            <ul class="left social-icons">
               <li><a href="#" class="tooltips tooltipped facebook" data-position="top" data-delay="50" data-tooltip="Facebook"><i class="fa fa-facebook"></i></a>
               </li>
               <li><a href="#" class="tooltips tooltipped linkedin" data-position="top" data-delay="50" data-tooltip="Linkdin"><i class="fa fa-linkedin"></i></a>
               </li>
               <li><a href="#" class="tooltips tooltipped twitter" data-position="top" data-delay="50" data-tooltip="Twitter"><i class="fa fa-twitter"></i></a>
               </li>
               <li><a href="#" class="tooltips tooltipped google-plus" data-position="top" data-delay="50" data-tooltip="Google Plus"><i class="fa fa-google-plus"></i></a>
               </li>
               <li><a href="#" class="tooltips tooltipped dribbble" data-position="top" data-delay="50" data-tooltip="Dribbble"><i class="fa fa-dribbble"></i></a>
               </li>
               <li><a href="#" class="tooltips tooltipped behance" data-position="top" data-delay="50" data-tooltip="Behance"><i class="fa fa-behance"></i></a>
               </li>
            </ul>
            <!-- ./social icons end -->
            <div class="right copyright">
               <p>MaterialX &copy; All Rights Reserved</p>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- ./container end-->