<div class="container">
   <div class="row">
      <div class="education-inner">
         <div class="col-sm-12 col-md-10 card-box-wrap">
            <div class="row">
               <div class="clearfix section-head education-text">
                  <div class="col-sm-12">
                     <h2 class="title">education</h2>
                     <p class="regular-text">
                        Education is not preparation for life, but also is life itself, the most powerful weapon which you can use to change the world.
                     </p>
                  </div>
               </div>
               <div class="col-lg-12">
                  <div class="overflow-hidden">
                     <div class="row">
                        <div id="educationSlider" class="clearfix card-element-wrapper">
                           <!-- single education -->
                           <div class="col-sm-4 single-card-box wow fadeInUpSmall" data-wow-duration=".7s">
                              <div class="card">
                                 <div class="card-image waves-effect waves-block waves-light">
                                    <h2 class="left-align card-title-top">2014 - 2017</h2>
                                    <div class="card-img-wrap">
                                       <img class="activator" src="images/mum_logo.png" alt="Maharishi University of Management School">
                                    </div>
                                 </div>
                                 <div class="card-content">
                                    <span class="card-title activator brand-text">Masters of Science in Computer Science<i class="mdi-navigation-more-vert right"></i></span>
                                    <p>Maharishi University of Management School</p>
                                 </div>
                                 <!-- Reveal content-->
                                 <div class="card-reveal">
                                    <div class="rev-title-wrap">
                                       <span class="card-title activator brand-text">Masters of Science in Computer Science<i class="mdi-navigation-close right"></i></span>
                                       <p>Maharishi University of Management School</p>
                                    </div>
                                    <p class="rev-content">
                                        <strong>Key courses </strong>: Algorithm, Advanced Web Application Programming, Modern Programming Practices, Database Management System etc..
                                        <br />
                                       <strong>Activity </strong>: Teacher Assistand for Web Application Programming Course.
                                    </p>
                                 </div>
                              </div>
                           </div>
                           <!-- single education end -->
                           <!-- single education -->
                           <div class="col-sm-4 single-card-box wow fadeInUpSmall" data-wow-delay=".2s" data-wow-duration=".7s">
                              <div class="card">
                                 <div class="card-image waves-effect waves-block waves-light">
                                    <h2 class="left-align card-title-top">2007 - 2011</h2>
                                    <div class="card-img-wrap">
                                       <img class="activator" src="images/msts_logo.png" alt="Mongolian Science and Technology School">
                                    </div>
                                 </div>
                                 <div class="card-content">
                                    <span class="card-title activator brand-text">Bachelor of Computer Science<i class="mdi-navigation-more-vert right"></i></span>
                                    <p>Mongolian Science and Technology School</p>
                                 </div>
                                 <div class="card-reveal">
                                    <div class="rev-title-wrap">
                                       <span class="card-title activator brand-text">Bachelor of Computer Science<i class="mdi-navigation-close right"></i></span>
                                       <p>Mongolian Science and Technology School</p>
                                    </div>
                                    <p class="rev-content">
                                       <strong>Key courses </strong> : Object Oriented Programming, Algorithm, DataStructure, Web Application Development,
                                       Software Architecture etc..
                                    </p>
                                 </div>
                              </div>
                           </div>
                           <!-- single education -->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="btn-wrapp edu-ctrl">
            <a class="btn-floating waves-effect waves-light btn-large brand-bg go go-left"><i class="mdi-navigation-chevron-left"></i></a>
            <a class="btn-floating waves-effect waves-light btn-large brand-bg go go-right"><i class="mdi-navigation-chevron-right"></i></a>
         </div>
      </div>
   </div>
</div>