<div class="container">
   <div class="row">
      <div class="experience-inner">
         <div class="col-sm-12 col-md-10 card-box-wrap">
            <div class="row">
               <div class="clearfix section-head experience-text">
                  <div class="col-sm-12">
                     <h2 class="title">Experience</h2>
                     <p class="regular-text">
                        Built a JavaScript-based IPTV application, using vendor Ericsson’s framework and integrating HTML and CSS into front-end development 
                        – with AJAX for back-end data retrieval and all back-end development done using Spring MVC Node.js Express, and PHP Symfony to return XML and JSON objects. 
                        Developed user interfaces for various applications. 
                        Conducted unit testing and integration testing.
                     </p>
                  </div>
               </div>
               <div class="col-lg-12">
                  <div class="overflow-hidden">
                     <div class="row">
                        <div id="experienceSlider" class="clearfix card-element-wrapper">
                           <div class="col-sm-4 cold-xs-12 single-card-box wow fadeInUpSmall" data-wow-duration=".7s">
                              <div class="card">
                                 <div class="card-image waves-effect waves-block waves-light">
                                    <h2 class="left-align card-title-top">August 2012 - Octeber 2014</h2>
                                    <div class="valign-wrapper card-img-wrap">
                                       <img class="activator" src="images/js_developer_img.jpg" alt="Javascript Developer at Unitel LLC">
                                    </div>
                                 </div>
                                 <div class="card-content">
                                    <span class="card-title activator brand-text">Javascript Developer<i class="mdi-navigation-more-vert right"></i></span>
                                    <p>Unitel LLC</p>
                                 </div>
                                 <div class="card-reveal">
                                    <div class="rev-title-wrap">
                                       <span class="card-title activator brand-text">Javascript Developer<i class="mdi-navigation-close right"></i></span>
                                       <p>Unitel LLC</p>
                                    </div>
                                    <p class="rev-content">
                                       Built a JavaScript-based IPTV application, using vendor Ericsson’s framework and integrating HTML and CSS into front-end development – with AJAX for back-end data retrieval and all back-end development done using Spring MVC and PHP Symfony to return XML and JSON objects. 
                                       Developed user interfaces for various applications. Conducted unit testing and integration testing.
                                    </p>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-4 cold-xs-12 single-card-box wow fadeInUpSmall" data-wow-delay=".2s" data-wow-duration=".7s">
                              <div class="card">
                                 <div class="card-image waves-effect waves-block waves-light">
                                    <h2 class="left-align card-title-top">May 2010 - August 2012</h2>
                                    <div class="valign-wrapper card-img-wrap">
                                       <img class="activator" src="images/web_developer_img.jpg" alt="Web Developer at Unitel LLC">
                                    </div>
                                 </div>
                                 <div class="card-content">
                                    <span class="card-title activator brand-text">Web Developer<i class="mdi-navigation-more-vert right"></i></span>
                                    <p>Unitel LLC</p>
                                 </div>
                                 <div class="card-reveal">
                                    <div class="rev-title-wrap">
                                       <span class="card-title activator brand-text">Web Developer<i class="mdi-navigation-close right"></i></span>
                                       <p>Unitel LLC</p>
                                    </div>
                                    <p class="rev-content">
                                       As a key member of the development team, contributed to design and development of the official company website – partnering with Marketing teams on overall design and conversion from graphical PSD mockup to actionable HTML5, CSS3, and JavaScript pages.
                                    </p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="btn-wrapp exp-ctrl">
            <a class="btn-floating waves-effect waves-light btn-large white go go-left"><i class="mdi-navigation-chevron-left brand-text"></i></a>
            <a class="btn-floating waves-effect waves-light btn-large white go go-right"><i class="mdi-navigation-chevron-right brand-text"></i></a>
         </div>
      </div>
   </div>
</div>