<div class="sec-overlay">
	<div class="container">
		<div class="row">
			<div class="clearfix skill-inner">
				<div class="col-sm-12 col-md-3">
					<div class="skill-left">
						<h2 class="title">Skills</h2>
						<p class="regular-text">Outstanding software development professional with 4 years of hands-on experience in front-end&#47;back-end development for web and IPTV application services.</p>
					</div>
				</div>
				<!-- skills container -->
				<div class="col-sm-12 col-md-6 col-md-offset-1">
					<div class="skill-right">
						<div id="skillSlider" class="clearfix skill-graph">
							<!-- single skill -->
							<div class="single-skill">
								<div class="after-li">
									<div class="singel-hr">
										<div class="singel-hr-inner" data-height="100%">
											<div class="skill-visiable">
												<span class="skill-title">Javascript</span>
												<div class="hr-wrap">
													<div class="hrc"></div>
												</div>
											</div>
										</div>
										<span class="skill-count">100%</span>
									</div>
								</div>
							</div>
							<!-- /single skill-->
							<!-- single skill -->
							<div class="single-skill">
								<div class="after-li">
									<div class="singel-hr">
										<div class="singel-hr-inner" data-height="80%">
											<div class="skill-visiable">
												<span class="skill-title">HTML</span>
												<div class="hr-wrap">
													<div class="hrc"></div>
												</div>
											</div>
										</div>
										<span class="skill-count">80%</span>
									</div>
								</div>
							</div>
							<!-- /single skill-->
							<!-- single skill -->
							<div class="single-skill">
								<div class="after-li">
									<div class="singel-hr">
										<div class="singel-hr-inner" data-height="70%">
											<div class="skill-visiable">
												<span class="skill-title">CSS</span>
												<div class="hr-wrap">
													<div class="hrc"></div>
												</div>
											</div>
										</div>
										<span class="skill-count">70%</span>
									</div>
								</div>
							</div>
							<!-- /single skill-->
							<!-- single skill -->
							<div class="single-skill">
								<div class="after-li">
									<div class="singel-hr">
										<div class="singel-hr-inner" data-height="60%">
											<div class="skill-visiable">
												<span class="skill-title">AngularJS</span>
												<div class="hr-wrap">
													<div class="hrc"></div>
												</div>
											</div>
										</div>
										<span class="skill-count">60%</span>
									</div>
								</div>
							</div>
							<!-- /single skill-->
							<!-- single skill -->
							<div class="single-skill">
								<div class="after-li">
									<div class="singel-hr">
										<div class="singel-hr-inner" data-height="50%">
											<div class="skill-visiable">
												<span class="skill-title">Node.js</span>
												<div class="hr-wrap">
													<div class="hrc"></div>
												</div>
											</div>
										</div>
										<span class="skill-count">50%</span>
									</div>
								</div>
							</div>
							<!-- /single skill-->
							<!-- single skill -->
							<div class="single-skill">
								<div class="after-li">
									<div class="singel-hr">
										<div class="singel-hr-inner" data-height="85%">
											<div class="skill-visiable">
												<span class="skill-title">OO Principle</span>
												<div class="hr-wrap">
													<div class="hrc"></div>
												</div>
											</div>
										</div>
										<span class="skill-count">85%</span>
									</div>
								</div>
							</div>
							<!-- /single skill-->
							<!-- single skill -->
							<div class="single-skill">
								<div class="after-li">
									<div class="singel-hr">
										<div class="singel-hr-inner" data-height="85%">
											<div class="skill-visiable">
												<span class="skill-title">MVC principle</span>
												<div class="hr-wrap">
													<div class="hrc"></div>
												</div>
											</div>
										</div>
										<span class="skill-count">85%</span>
									</div>
								</div>
							</div>
							<!-- /single skill-->
							<!-- single skill -->
							<div class="single-skill">
								<div class="after-li">
									<div class="singel-hr">
										<div class="singel-hr-inner" data-height="60%">
											<div class="skill-visiable">
												<span class="skill-title">Java</span>
												<div class="hr-wrap">
													<div class="hrc"></div>
												</div>
											</div>
										</div>
										<span class="skill-count">60%</span>
									</div>
								</div>
							</div>
							<!-- /single skill-->
							<!-- single skill -->
							<div class="single-skill">
								<div class="after-li">
									<div class="singel-hr">
										<div class="singel-hr-inner" data-height="40%">
											<div class="skill-visiable">
												<span class="skill-title">PHP</span>
												<div class="hr-wrap">
													<div class="hrc"></div>
												</div>
											</div>
										</div>
										<span class="skill-count">40%</span>
									</div>
								</div>
							</div>
							<!-- /single skill-->
						</div>
					</div>
				</div>
				<!-- /skills container -->
			</div>
		</div>
		<div class="btn-wrapp skl-ctrl">
			<a class="btn-floating waves-effect waves-light btn-large brand-bg white-text go go-left"><i class="mdi-navigation-chevron-left "></i></a>
			<a class="btn-floating waves-effect waves-light btn-large brand-bg white-text go go-right"><i class="mdi-navigation-chevron-right "></i></a>
		</div>
	</div>
</div>